.container {
    border: 1px solid #54B9D1;
    padding: 10px 50px 50px 50px;
    margin-top: 40px;
}

.edit-buttons {
    padding-top: 30px;
}
h3.edit {
    padding: 20px;
}
/* p {
    text-align: left;
} */